body{
    background-color: rgb(74, 172, 238);
}

.input{
    margin-left: 600px;
    margin-top: 350px ;
}

p{
    color: rgb(0, 0, 0);
    font-size: 45px;
}

.Sim{
    border-radius: 10px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 25px;

}

.Nao{
    font-size: 25px;
    border-radius: 10px;
   margin-right: 10px;
}